

<div class="todo-app">

  <section class="todo">
    <h3>My Day Tasks</h3>
    <p>All my tasks in one place</p>

    <div class="input">
      <input class="field" type="text" placeholder="Type new todo" autofocus
        [formControl]="newTaskCtrl" (keydown.enter)="addNewElement()">
    </div>

    <div class="tasks-container style-scrollbar">
      <div *ngFor="let task of taskByFilter(); index as i">

        <div *ngIf="!task.editing; else field" class="task"
          (dblclick)="editTask(i)">
          <p class="marker" [class.active]="task.completed"
            (click)="completed(i)"></p>
          <p class="name-task" [class.active]="task.completed"> {{task.title}}
          </p>
          <div class="close" (click)="removeItem(i)">
            <img style="width: 100%; height: 100%;" src="/assets/icons/close.png" alt="">
          </div>
        </div>

        <ng-template #field>
          <div class="edit-task">
            <input type="text" autofocus placeholder="Edit task"
              [value]="task.title" (keyup.enter)="newValueTask(i,$event)">
          </div>
        </ng-template>
      </div>
    </div>

    <div class="remaining">
      <div class="items">
        <p class="pendientes">{{ taskByFilter().length }}</p>
        <p class="text" *ngIf="taskByFilter().length > 1; else plural">Items</p>

        <ng-template #plural>
          <p class="text">
            Item left
          </p>
        </ng-template>

      </div>

      <div class="actions">
        <p *ngFor="let action of actions; index as i" [class.active-filter]="filterActive === i"
          (click)="changeFilter(action,i)">
          {{action}}
        </p>
        <p (click)="deleteCompleted()">
          {{ 'Clear completed' }}
        </p>
      </div>

    </div>
  </section>
</div>

<!-- <div>

  <input type="text" [formControl]="widthModify" (change)="newLength()">

  <div class="box" style="height: 50px; background-color: blue;"
    [ngStyle]="{ 'width':newWidth()+'px' }">

  </div>
</div> -->
