.todo {
    width: 60%;
    height: max-content;
    background-color: rgb(42, 130, 57);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;

    h3 {
        font-size: 24px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: auto;
        margin-bottom: 8px;
    }

    p {
        margin: auto;
        margin-top: 0;

    }

    .input {
        width: max-content;
        height: 30px;
        margin: auto;
        margin-bottom: 20px;

        .field {
            width: 300px;
            height: 20px;
            border: 1px solid transparent;
            border-radius: 8px;
            background-color: black;
            padding: 8px;
            color: white;
        }

        .field:focus {
            outline: none;
            border-color: black;
        }

        ::placeholder {
            color: white;
        }
    }


    .tasks-container {
        width: 80%;
        padding: 20px;
        margin: auto;
        height: max-content;
        border-radius: 12px;
        background-color: black;

        .task {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 8px;
            position: relative;
            .marker {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid gainsboro;
                margin-right: 8px;
                &.active{
                    border-color: aqua;
                    background-color: aqua;
                }
            }

            .name-task{
                width: calc(100% - 20px);
                color: white;
            }

            .close{
                width: 10px;
                height: 10px;
                background-color: azure;
            }
        }
    }

    .remaining{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .items{
            display: flex;
            flex-direction: row;
            .pendientes{
                margin-right: 5px;
            }
        }

        .actions{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            p{
                width: max-content;
                padding: 0 8px;
            }

        }
    }
}